
:root , *{
    --light-gray-bg: #F0F0F0;
    font-family: "Plus Jakarta Sans", sans-serif !important;
  }
.center_container{
    max-width: 1800px;
    margin: 0 auto;
}
.bg-light-gray{
    background-color: var(--light-gray-bg);
}
.Claro_custom_btn_padding{

    min-width: 70px;
    padding: 12px 26px !important;
}
.custom_circle_btn_padding{
    min-width: 50px;
    height: 50px;
}
.custom_gray_bg{
background-color: var(--light-gray-bg) !important;
}

.heading{
    font-weight: 600;
    font-size: 80px;
    line-height: 96px;
}
.heading_with_filter{
    font-weight: 600;
    font-size: 60px;
    line-height: 96px;
}
.heading_with_filter span{
    color: gray;
    font-weight: 300;
    font-size:34px;
}
.container{
    max-width: 1800px !important;
}
.mb-md{
    margin-bottom: 150px;
}
.white_heading{
    color: white;
    font-size: 55px;
}
.claro_heading{
font-size: 55px; 
line-height: 76px
}
.horizontal_product_card_heading{
    font-size: 32px;
    line-height: 38px;
}
.footer_link_heading{
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.footer_links_list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer_links_list_item>a{
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: white;
    text-decoration:none
}
.footer-search_button{
    border-top-right-radius: 100px !important;
    border-bottom-right-radius:100px !important;
    top: 0px;
    right: 0px;
    position: absolute;
    background-color: #9B9B9B !important;
    height: 100%;
    min-width: 50px
}
.footer_input{
    border: 0;
    outline: none;
    padding: 20px;
    height: 50px;

}
.footer_transparent_logo{
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
}
.footer_custom_gap{
    padding-bottom: 150px;
}

.ham-burger{
    background-color: transparent;
    border: 0;
    outline: none;
}
.ham-burger i{
    font-size: 30px;
    color: black;
}

@media screen and (max-width: 768px) {
    .claro_heading{
        font-size: 40px; 
        line-height: 40px
        }
        .footer_custom_gap{
            padding-bottom: 0px;
        }
        .heading{
            font-size: 40px;
        }
  }
  @media screen and (max-width : 800px) {
    
        .heading{
            font-size: 50px;
            line-height: 60px;
        }
  }
  @media screen and (min-width : 800px) {
    
    .heading{
        font-size: 60px;
        line-height: 70px;
    }
}

  @media screen and (max-width: 1880px) {
    .mobile_tablet_padding{
        padding: 0 20px;
       }
       .mb-md{
        margin-bottom: 60px;
    
            
           }
    }
    .nav-link.active{
        color: black;
        font-weight: 800;
    }




    .bar ul.slick-dots {
        display: flex;
        bottom: -20px !important;
        width: 85%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .bar li.slick-active {
        background: #121212;
        border-radius: 8px;
    }
    
    .bar li {
        background: #999894;
        flex-grow: 1;
        flex-shrink: 0;
        margin: 0 !important;
        height: 4px !important;
    }
    .first_slide, .last_slide{
        text-decoration: none;
        position: absolute;
        top: -10px;
        text-decoration: none !important;
        color: black !important;
    }
    
    .first_slide{
        text-decoration: none;
        position: absolute;
       left: -30px;
    }
    
     .last_slide{
        text-decoration: none;
        position: absolute;
        right: -30px;
    }
    .bar{
        margin-top: 100px;
        margin-bottom: 100px !important;
    }
    .bar .details h1 {
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
        color: #121212;
    }
    .bar .details h3{
        font-size:18px ;
        line-height: 25px;
        font-weight:600 ;
        color: #595959
    } 