.marquee_container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: #000000;
    padding: 4rem 0;
  }

  .marquee {
    display: inline-block;
    animation: marquee 10s linear infinite;
  }
  .marquee h1{
    font-size: 50px;
  }
  .marquee h1,
  .marquee div {
    display: inline-block;
    margin-right: 50px;
    vertical-align: middle;
    color: white;
  }

  .marquee img {
    width: 30px;
    height: 30px;
  }

  @keyframes marquee {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
  @media screen and (max-width : 992px) {
    .marquee_container {
      padding: 3rem 0;
    }
  
    .marquee h1{
      font-size: 40px;
    }
  }
  

  @media screen and (max-width : 768px) {
    .marquee_container {
      padding: 2rem 0;
    }
  
    .marquee h1{
      font-size: 30px;
    }
  }
  