:root {
    --dark-beige: #DAD1C8;
  --dark-bg:#121212;
  --dark-blue:#26292E;
  --dark-maroon:#4b0005;
  --light-maroon:rgb(95, 15, 22);
  --light-blue:rgba(181, 216, 218, .3);
  --light-beige:rgba(218, 209, 200,.3);
  font-family: "Plus Jakarta Sans", sans-serif !important;
  }

.hero-content-left{
    margin-top: 100px !important;
}
.Archivist_custom_logo{
    width: 160px;
    background-color: var(--dark-maroon);
    height: 180px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;}
.Archivist_custom_logo a{
    width: 70%;
    margin-left: 5px;
}
.Archivist_custom_logo img{
    width: 100%;
    object-fit: contain;
}
.Archivist_custom_header{
    padding:0px  20px;
}
:root {
    --primary-color: #000;
    --secondary-color: #666;
}
.Archivist_navbar-nav{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0px;
    padding: 0;
}
.header_icons{
    display: flex;
    gap: 20px;
}
@media screen and (max-width: 768px) {
   
.Archivist_custom_logo{
    width: 80px;
    padding-left: 10px;
}
.Archivist_custom_header{
    padding:0px 20px  ;
}

.Archivist_custom_logo{
    width: 100px;
    height: 150px;
}        
  }

